<%= erb("head.html.erb") %>
<div class="sync-box">
  <div class="sync-message"></div>
  <div class="spinner"><img src="<%= resource("images/spinner.gif") %>" /></div>
  <div id="status"></div>
</div>
<%= erb("foot.html.erb")%>

